* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navigation */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 5%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 30px;
    color: black; /* Ändra till vit för att matcha bakgrunden */
    text-decoration: none;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.social-media {
    margin: 0 auto 0 50px;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid black; /* Ändra till vit för att matcha bakgrunden */
    border-radius: 6px;
    text-decoration: none;
    margin-right: 10px;
    transition: .5s;
}
.social-media a:hover {
    background: white;
}
.social-media a i {
    font-size: 20px;
    color: black; /* Ändra till vit för att matcha bakgrunden */
    transition: .5s;

}
.social-media a i:hover {
    color: #444;
}
.navbar a {
    font-size: 18px;
    color: black; /* Ändra till vit för att matcha bakgrunden */
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transition: .1s ease;
}
.navbar a:hover {
    color: #444;
    text-decoration: none; /* Underline? */
}
/* Kontakta oss */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;

}
.author {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}


.content .title,
.content .topic {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 10;
}
.content .topic {
    margin-top: 10%;
}
#kontakta, #oss {
    position: relative;
}


.content img {
  width: 100%; /* fixed width to make them big */
  height: auto;
}

/* Contact Section */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: black; /* Bakgrundsfärg? */
    font-family: Arial, Helvetica, sans-serif;
}
.contact h2 {
    font-size: 40px;
    color: white; /* Textfärg? */
    text-align: center;
    margin-bottom: 10px;
}
.contact form {
    width: 600px;
    text-align: center;
}
form .input-box {
    display: flex;
    justify-content: space-between;
}
.input-box .input-field {
    width: 48.5%;
}
.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    color: #ededed;
    margin: 12px 0;
}

.field.error .item {
    border-color: #d93025;
}
.field .item::placeholder {
    color: rgba(255, 255, 255, .3);
}

.field .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;
}
form .textarea-field .item {
    resize: none;
}
form .textarea-field .error-txt{ /* ska du ha denna? */
    margin-top: -10px;
}

form button {
    padding: 12px 32px;
    background: #0ef; /* Bakgrundsfärg för knappen */
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}
form button:hover {
    box-shadow: none;
}


/*
.contact-top-section {
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin: auto;
    margin-top: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-top-section-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-top-section-left-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    margin-top: 0;
    max-width: 650px;
}

.contact-top-section-text {
    font-size: 20px;
    font-style: normal;
    opacity: 80%;
    max-width: 445px;
}

.contact-top-section-right {
    max-width: 475px;
    width: 100%;
    flex-shrink: 2;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-top-section-right-form {
    font-size: 16px;
    font-style: bold;
    font-weight: 650;
}
.contact-top-section-right-label {
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    opacity: 60%;
}

.input-field {
   margin-top: 2em;
}

.input-field:focus {
    outline: none;
    box-shadow: 0px 2px 0px #4A4FF2;
}

.btn {
    background-color: #4A4FF2;
    width: 125px;
    height: 50px;
    color:#ffffff;
    border: black 1px solid;
}

.btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: #FFB039;
}

#name {
    background: none;
    border: none;
    border-bottom: 1px solid #9797973b;
    max-width: 475px;
}

#email {
    background: none;
    border: none;
    border-bottom: 1px solid #9797973b;
    max-width: 475px;
}

#message {
    background: none;
    border: none;
    border-bottom: 1px solid #9797973b;
    max-width: 475px;
}


.contact-map-section {
    margin-top: 5em;
    margin-bottom: 2em;
}
.contact-map-section-container {
    width: 100%;
    height: 100%;
}
.contact-map-section-container-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
*/
/* Footer */
.footer-main {
    color: black;
    display: flex;
    justify-content: center;
    line-height: 26px;
    min-height: 271px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-main a {
    text-decoration: none;
} 

.footer-main-logo {
    font-size: 24px;
    font-style: bold;
    letter-spacing: 3.36px;
    margin-bottom: 0.3em;
    color: black; 
}

.footer-main-slogan {
    font-size: 16px;
    letter-spacing: 1.6px;
    margin-bottom: 1em;
}

.footer-main-socials {
    display: flex;
    gap: 1.5em;
    color: black;
}
.footer-main-socials a {
    color: black;
    font-size: 30px;
}
.footer-main-socials a:hover {
    transform: scale(1.3);
}
